# Gobalpointer_pytorch 忽略规则
NestedNER/GlobalPointer_pytorch/datasets/CHD/*
!NestedNER/GlobalPointer_pytorch/datasets/CHD/.gitignore

NestedNER/GlobalPointer_pytorch/datasets/CMeEE-V2/*
!NestedNER/GlobalPointer_pytorch/datasets/CMeEE-V2/.gitignore

# GlobalPointer_GAT 忽略规则
NestedNER/GlobalPointer_GAT/datasets/CHD/*
!NestedNER/GlobalPointer_GAT/datasets/CHD/.gitignore

NestedNER/GlobalPointer_GAT/datasets/CMeEE-V2/*
!NestedNER/GlobalPointer_GAT/datasets/CMeEE-V2/.gitignore


# GlobalPointer_GAT_Boundary 忽略规则
# GlobalPointer_GAT 忽略规则
NestedNER/GlobalPointer_GAT_Boundary/datasets/CHD/*
!NestedNER/GlobalPointer_GAT_Boundary/datasets/CHD/.gitignore

NestedNER/GlobalPointer_GAT_Boundary/datasets/CMeEE-V2/*
!NestedNER/GlobalPointer_GAT_Boundary/datasets/CMeEE-V2/.gitignore

# FlatNER规则指定

# BERT-BiLSTM-CRF忽略规则
FlatNER/BERT_BiLSTM_CRF/HuggingFace_Model/*
!FlatNER/BERT_BiLSTM_CRF/HuggingFace_Model/.gitignore

FlatNER/BERT_BiLSTM_CRF/HuggingFace_Model/bert-base-chinese/*
!FlatNER/BERT_BiLSTM_CRF/HuggingFace_Model/bert-base-chinese/.gitignore

FlatNER/BERT_BiLSTM_CRF/input/*
!FlatNER/BERT_BiLSTM_CRF/input/.gitignore

FlatNER/BERT_BiLSTM_CRF/output/outputs/*
!FlatNER/BERT_BiLSTM_CRF/output/outputs/.gitignore

FlatNER/BERT_BiLSTM_CRF/output/annotation/*
!FlatNER/BERT_BiLSTM_CRF/output/annotation/.gitignore

FlatNER/BERT_BiLSTM_CRF/output/dataset/*
!FlatNER/BERT_BiLSTM_CRF/output/dataset/.gitignore

FlatNER/BERT_BiLSTM_CRF/output/model/*
!FlatNER/BERT_BiLSTM_CRF/output/model/.gitignore


